.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 250px 40px 210px 50px 50px;
    padding: 20px;
}
.flower {
    display: grid;
    grid-template-columns: 250px 350px 300px;
    grid-template-rows: 1fr;
    align-items: center;
}
.flower-info {
    display: grid;
    grid-template-columns: 200px 150px;
    grid-template-rows: 1fr;
    align-items: center;
}

button {
width: 100px;
height: 30px;
margin-top: 10px;
}

.active {
    box-shadow: 0 0 10px black;
}

